@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #ffffff;
}

input[type='date']::-webkit-calendar-picker-indicator {
  filter: none;
  opacity: 0.5;
}
